body {
          background-color: #660066;
 }
h1 {
    font-size: 50px;
    font-family: Impact;
    color: #00FFFF;
 }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 10px solid #555;
}
li {
    text-align: center;
    border-bottom: 10px solid #555;
}
li:last-child {
    border-bottom: none;
}
li a {
    display: block;
    width: 60px;
}
h4 {
    font-size: 30px;
    font-weight: bold;
    font-family: Impact;
    color: #00FFFF;
 }
img {
     height: 300px;
     width: 300px;
 }
hr {
     border-width: 5px;
     border-style: groove;
 }
 span {
     font-weight: bold;
 }
 #s1 {
     color:red;
 }
 #s2 {
     color: orange;
 }
 #s3 {
     color: yellow;
 }
 #s4 {
     color: #99FF00;
 }
