body {
          background-color: #ff00ff;
 }
h1 {
    font-size: 50px;
    font-family: Impact;
    color: #00FFFF;
 }
h4 {
    font-size: 30px;
    font-weight: bold;
    font-family: Impact;
    color: #00FFFF;
 }
img {
     height: 300px;
     width: 300px;
 }
hr {
     border-width: 5px;
     border-style: dotted solid;
 }
video
   {
     
