body {
          background-color: #660066;
 }
h1 {
    font-size: 50px;
    font-family: Impact;
    color: #00FFFF;
 }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00FFFF;
}

li {
    float: left;
    font-family: Impact;
}

li a {
    display: block;
    color: #660066;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h4 {
    font-size: 30px;
    font-weight: bold;
    font-family: Impact;
    color: #00FFFF;
 }
img {
     height: 300px;
     width: 300px;
 }
hr {
     border-width: 5px;
     border-style: groove;
 }
 span {
     font-weight: bold;
 }
 #s1 {
     color: #00FFFF;
 }
 #s2 {
     color: #660066;
 }
